

div(id="features").pt-5
div.pt-10
  .container.mx-auto.pb-10
    +title('Features')
    .features(class='grid overflow-hidden text-center grid-cols-1 grid-rows-3 md:grid-cols-2 md:grid-rows-2 lg:grid-cols-3 lg:grid-rows-1 gap-10')
      .box.featureBox
        .quality.box.border.border-gray-300
          .image
            img.max-w-full(src='./public/pics/item-1.jpg')
          h2.w-fit.m-auto.text-5xl.font-bold.relative Quality
          p.my-8.p-6.text-xl.text-gray-500.leading-loose
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum hic veniam eligendi minima
          a(href='#') more
      .box.featureBox
        .quality.box.border.border-gray-300
          .image
            img.max-w-full(src='./public/pics/item-1.jpg')
          h2.w-fit.m-auto.text-5xl.font-bold.relative Quality
          p.my-8.p-6.text-xl.text-gray-500.leading-loose
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum hic veniam eligendi minima
          a(href='#') more
      .box.featureBox
        .quality.box.border.border-gray-300
          .image
            img.max-w-full(src='./public/pics/item-1.jpg')
          h2.w-fit.m-auto.text-5xl.font-bold.relative Quality
          p.my-8.p-6.text-xl.text-gray-500.leading-loose
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum hic veniam eligendi minima
          a(href='#') more