
<div class="pt-5" id="gallery"></div>
<div class="pt-10">
  <div class="container mx-auto pb-10">
    <div class="main-title delay-300 ease-in-out relative width-fit uppercase py-2 px-5 mb-10 font-bold m-auto text-center text-3xl border-black border-2">Gallery</div>
    <div class="gallery grid overflow-hidden grid-cols-1 grid-rows-6 md:grid-cols-2 md:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2 gap-10">
      <div class="galleryBox relative box p-4 bg-gray-200">
        <div class="image overflow-hidden"><img class="image overflow-hidden" src="./public/pics/item-1.png"/></div>
      </div>
      <div class="galleryBox relative box p-4 bg-gray-200">
        <div class="image overflow-hidden"><img class="image overflow-hidden" src="./public/pics/item-1.png"/></div>
      </div>
      <div class="galleryBox relative box p-4 bg-gray-200">
        <div class="image overflow-hidden"><img class="image overflow-hidden" src="./public/pics/item-1.png"/></div>
      </div>
      <div class="galleryBox relative box p-4 bg-gray-200">
        <div class="image overflow-hidden"><img class="image overflow-hidden" src="./public/pics/item-1.png"/></div>
      </div>
      <div class="galleryBox relative box p-4 bg-gray-200">
        <div class="image overflow-hidden"><img class="image overflow-hidden" src="./public/pics/item-1.png"/></div>
      </div>
      <div class="galleryBox relative box p-4 bg-gray-200">
        <div class="image overflow-hidden"><img class="image overflow-hidden" src="./public/pics/item-1.png"/></div>
      </div>
    </div>
  </div>
</div>