.hero.container.mx-auto.mb-20.flex.flex-col.align-center.justify-between.mb-20
  .hero-container.flex.flex-col.items-center(class="md:flex-row")
    .hero-text.text-center.pt-10(class="w-full  md:w-1/2 md:text-left")
      h2.text-4xl.font-bold Welcome, To My World
      p.text-xl.text-gray-700 Here I'am Gonna Share Everything About My Life. Books I'am Reading, Games I'am Playing, Stories And Events
    .div.animate-up-and-down
      img(alt="hero" src="./public/pics/hero-erea.png" class="hero-img" )
  a.mx-auto.go-down(href="#artilces") go down