
<div class="hero container mx-auto mb-20 flex flex-col align-center justify-between mb-20">
  <div class="hero-container flex flex-col items-center md:flex-row">
    <div class="hero-text text-center pt-10 w-full  md:w-1/2 md:text-left">
      <h2 class="text-4xl font-bold">Welcome, To My World</h2>
      <p class="text-xl text-gray-700">Here I'am Gonna Share Everything About My Life. Books I'am Reading, Games I'am Playing, Stories And Events</p>
    </div>
    <div class="div animate-up-and-down"><img class="hero-img" alt="hero" src="./public/pics/hero-erea.png"/></div>
  </div><a class="mx-auto go-down" href="#artilces">go down</a>
</div>