
<nav class="bg-gray-50 rounded border-gray-200 bg-white">
  <div class="container flex flex-wrap justify-between items-center mx-auto flex-col md:flex-row"><a class="flex items-center" href="#"><span class="self-center text-2xl font-extrabold font-cairo whitespace-nowrap text-blue-500">PizzaSteve</span></a>
    <div class="block" id="navbar-solid-bg">
      <ul class="flex flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-transparent  ">
        <li class="nav-item"><a class="block text-xl md:bg-transparent md:text-blue-700 md:p-0" href="#articles" aria-current="page">Articles</a></li>
        <li class="nav-item"><a class="block text-xl hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0" href="#gallery">Gallery</a></li>
        <li class="nav-item"><a class="block text-xl hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0" href="#features">Features</a></li>
        <li class="nav-item"><a class="block text-xl hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0  md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" href="#articles">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>