nav.bg-gray-50.rounded.border-gray-200.bg-white
  .container.flex.flex-wrap.justify-between.items-center.mx-auto.flex-col(class="md:flex-row")
    a.flex.items-center(href='#')
      span.self-center.text-2xl.font-extrabold.font-cairo.whitespace-nowrap.text-blue-500 PizzaSteve
    #navbar-solid-bg.block
      ul.flex.flex-row(class='md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-transparent  ')
        li(class="md:px-6 md:py-4 px-3 py-2 hover:bg-gray-200 transition hover:border-b-2 hover:border-blue-400")
          a.block.text-xl(href='#articles' class='md:bg-transparent md:text-blue-700 md:p-0' aria-current='page') Articles
        li(class="md:px-6 md:py-4 px-3 py-2 hover:bg-gray-200 transition hover:border-b-2 hover:border-blue-400")
          a.block.text-xl(href='#gallery' class='hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0') Gallery
        li(class="md:px-6 md:py-4 px-3 py-2 hover:bg-gray-200 transition hover:border-b-2 hover:border-blue-400")
          a.block.text-xl(href='#features' class='hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0') Features
        li(class="md:px-6 md:py-4 px-3 py-2 hover:bg-gray-200 transition hover:border-b-2 hover:border-blue-400")
          a.block.text-xl(href='#articles' class='hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0  md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent') Contact
