
<div class="pt-5" id="artilces"></div>
<div class="main-title delay-300 ease-in-out relative width-fit uppercase py-2 px-5 mb-10 font-bold m-auto text-center text-3xl border-black border-2">Articles</div>
<div class="container mx-auto mb-10">
  <div class="swiper-container relative">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide pt-3">
          <div class="card rounded overflow-hidden shadow-lg mb-4 hover-up"><img alt="photo" src="./public/pics/item-3.jpg"/>
            <div class="details p-5">
              <div class="title">
                <h2 class="text-lg font-bold">Title here</h2>
              </div>
              <div class="other-text mt-4">
                <p class="text-base text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum </p>
              </div>
            </div>
            <div class="more flex justify-between border-t border-gray-200 p-5 text-blue-500 cursor-pointer">
              <p class="font-bold">Read More</p>
              <p class="font-bold">go</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-btn swiper-button-next invisible md:visible"></div>
    <div class="slider-btn swiper-button-prev invisible md:visible"></div>
  </div>
  <!-- Swiper JS-->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper-->
  <script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 1,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        330: {
          slidesPerView: 1.5,
          spaceBetween: 20,
        },
        580: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 50,
        },
      },
    });
  </script>
</div>