div.pt-16
  .container.mx-auto.pb-10
    +title('Testmonials')
    .tests(class='grid overflow-hidden py-16 px-10 grid-cols-1 grid-rows-3 md:grid-cols-2 md:grid-rows-2 lg:grid-cols-3 lg:grid-rows-1 gap-10')
      each val in [{name:"hazem", stars: 4}, {name: "ahmed", stars: 5}, {name:"karim", stars: 4}, {name: "reda", stars: 5}, {name:"ezat", stars: 4}, {name: "hosam", stars: 5}]
        .box(class="rounded-md p-5 relative bg-white")
          img(src='./public/pics/person1.png' alt="photo" class="absolute w-24 h-24 rounded-full")
          h2.capitalize.mb-3= val.name
          p Full Stack Developer
          h4= val.stars
          p.mt-3.capitalize.text-gray-500
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
