div.pt-16
  .container.mx-auto.pb-10
    +title('How it works?')
    .works(class="flex items-center gap-8")
      img(src="./public/pics/works.png" class="hidden lg:block")
      .work-details.w-full.flex.flex-col.gap-4
        .work.p-6.flex.gap-4.gap-8.bg-gray-100.items-center.border-8.border-gray-200
          img.w-16.h-16(src="./public/pics/item-0.png")
          .work-text
            h2.font-bold.text-2xl.mb-2 Business Analysis
            p.text-lg.text-gray-500 Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Enim Nesciunt Obcaecati Quisquam Quis Laborum Recusandae Debitis Vel
        .work-details.w-full
          .work.p-6.flex.gap-4.gap-8.bg-gray-100.items-center.border-8.border-gray-200
            img.w-16.h-16(src="./public/pics/item-0.png")
            .work-text
              h2.font-bold.text-2xl.mb-2 Business Analysis
              p.text-lg.text-gray-500 Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Enim Nesciunt Obcaecati Quisquam Quis Laborum Recusandae Debitis Vel
        .work-details.w-full
          .work.p-6.flex.gap-4.gap-8.bg-gray-100.items-center.border-8.border-gray-200
            img.w-16.h-16(src="./public/pics/item-0.png")
            .work-text
              h2.font-bold.text-2xl.mb-2 Business Analysis
              p.text-lg.text-gray-500 Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Enim Nesciunt Obcaecati Quisquam Quis Laborum Recusandae Debitis Vel
        