mixin card
  .card.rounded.overflow-hidden.shadow-lg.mb-4.hover-up
    img(alt="photo" src="./public/pics/item-3.jpg")
    .details.p-5
      .title
        h2.text-lg.font-bold Title here
      .other-text.mt-4
        p.text-base.text-gray-700 Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum 
    .more.flex.justify-between.border-t.border-gray-200.p-5.text-blue-500.cursor-pointer
      p.font-bold Read More
      p.font-bold go
